body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* .legend li { float: left; margin-right: 10px; } */
.no-bullets {list-style-type: none;} 
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
.gtr20 { background-color: #e73d0a; }
.gtr15 { background-color: #e7a00a; }
.gtr10 { background-color: #dfe70a; }
.gtr5 { background-color: #acff0a; }
.gtr0 { background-color: #155803; }
